{% extends "home/base.html" %}
{% load static %}

{% block content %} 

<section id="hero2" class="d-flex align-items-center">
    <div class="image-background" >
      <img src="{% static 'img/slider-1-4.jpg' %}" >
      
    </div>
    <div class="fade-overlay"></div>
    <div class="fade-overlay"></div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
          <br>
          <br>
          <h1>Sales</h1>
        </div>
        
      </div>
    </div>
  </section>
  <!-- End Hero -->
<br>
<br>

{% endblock %}