


<section id="hero2" class="d-flex align-items-center">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center align-items-center position-relative">
            <!-- Background Image -->
            <img src="{% static 'img/slider-1-4.jpg' %}" class="d-block w-100" alt="Background Image 1">
            
            <!-- Overlay with Content -->
            <div class="overlay position-absolute w-100 h-100 top-0 start-0 d-flex justify-content-center align-items-center">
              <div class="row w-55">
                <!-- Left Content (Text) -->
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
                  <h1>Taste of quality</h1>
                  <h2>Let us fulfill your needs, enter a delivery time & enjoy your food</h2>
                  <a href="#about" class="btn-get-started scrollto">About us</a>
                </div>
                
                <!-- Right Content (Image) -->
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                  <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="Hero Image">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center align-items-center position-relative">
            <img src="{% static 'img/slider-1-4.jpg' %}" class="d-block w-100" alt="Background Image 2">
          
            </div>
        </div>
      </div>
  
      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  
  