{% load static %}
<div class="mobile-careers-2lines-carousel">

<div class="owl-carousel " id="careers-carousel-2lines-mobile">
    <!-- Slide 1 -->
    <div class="career-group">
        <div class="row">
            <div class="col-12"><div class="career-card">
                <h4>Software Engineer</h4>
                <p><i class="fas fa-map-marker-alt"></i> Remote</p>
                <p><i class="fas fa-briefcase"></i> Full Time</p>
                <a href="#" class="btn-apply">Apply Now</a>
            </div>
        </div>

        </div>
        <div class="row">
            <div class="col-12"><div class="career-card">
                <h4>Software Engineer</h4>
                <p><i class="fas fa-map-marker-alt"></i> Remote</p>
                <p><i class="fas fa-briefcase"></i> Full Time</p>
                <a href="#" class="btn-apply">Apply Now</a>
            </div>
        </div>

        </div>
    </div>
    <div class="career-group">
        <div class="row">
            <div class="col-12"><div class="career-card">
                <h4>Software Engineer</h4>
                <p><i class="fas fa-map-marker-alt"></i> Remote</p>
                <p><i class="fas fa-briefcase"></i> Full Time</p>
                <a href="#" class="btn-apply">Apply Now</a>
            </div>
        </div>

        </div>
        <div class="row">
            <div class="col-12"><div class="career-card">
                <h4>Software Engineer</h4>
                <p><i class="fas fa-map-marker-alt"></i> Remote</p>
                <p><i class="fas fa-briefcase"></i> Full Time</p>
                <a href="#" class="btn-apply">Apply Now</a>
            </div>
        </div>

        </div>
    </div>
    <div class="career-group">
        <div class="row">
            <div class="col-12"><div class="career-card">
                <h4>Software Engineer</h4>
                <p><i class="fas fa-map-marker-alt"></i> Remote</p>
                <p><i class="fas fa-briefcase"></i> Full Time</p>
                <a href="#" class="btn-apply">Apply Now</a>
            </div>
        </div>

        </div>
        <div class="row">
            <div class="col-12"><div class="career-card">
                <h4>Software Engineer</h4>
                <p><i class="fas fa-map-marker-alt"></i> Remote</p>
                <p><i class="fas fa-briefcase"></i> Full Time</p>
                <a href="#" class="btn-apply">Apply Now</a>
            </div>
        </div>

        </div>
    </div>
    <div class="career-group">
        <div class="row">
            <div class="col-12"><div class="career-card">
                <h4>Software Engineer</h4>
                <p><i class="fas fa-map-marker-alt"></i> Remote</p>
                <p><i class="fas fa-briefcase"></i> Full Time</p>
                <a href="#" class="btn-apply">Apply Now</a>
            </div>
        </div>

        </div>
        <div class="row">
            <div class="col-12"><div class="career-card">
                <h4>Software Engineer</h4>
                <p><i class="fas fa-map-marker-alt"></i> Remote</p>
                <p><i class="fas fa-briefcase"></i> Full Time</p>
                <a href="#" class="btn-apply">Apply Now</a>
            </div>
        </div>

        </div>
    </div>
</div>
</div>