{% load static %}

<div class="mobile-view-heritage">

<section id="hero2" class="d-flex align-items-center">
    <div class="image-background" >
    <img src="{% static 'img/slider-1-4.jpg' %}" >
    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
        <br>
        <br>
        <h1>Heritage</h1>
        </div>
    </div>
    </div>
</section>
<!-- End Hero -->

<br>
<br>
<section id="timeline">
    <div class="heritage-container-mobile">
      <!-- Timeline Item 1 -->
      <div class="timeline-item">
        <div class="timeline-logo">
          <img src="{% static 'img/Logo-goldenmeat.png' %}" alt="Logo">
        </div>
        <div class="timeline-content">
          <h3>Established in 2018</h3>
          <p>Expanded customer base to over 2000 retails.</p>
        </div>
      </div>
  
      <!-- Timeline Item 2 -->
      <div class="timeline-item">
        <div class="timeline-logo">
          <img src="{% static 'img/Logo-goldenmeat.png' %}" alt="Logo">
        </div>
        <div class="timeline-content">
          <h3>Temperature-Controlled Warehouses</h3>
          <p>Three branches with temperature-controlled storage.</p>
        </div>
      </div>
  
      <!-- Timeline Item 3 -->
      <div class="timeline-item">
        <div class="timeline-logo">
          <img src="{% static 'img/Logo-goldenmeat.png' %}" alt="Logo">
        </div>
        <div class="timeline-content">
          <h3>Collaboration with 40+ Suppliers</h3>
          <p>Working with globally established suppliers for quality assurance.</p>
        </div>
      </div>
  
      <!-- Timeline Item 4 -->
      <div class="timeline-item">
        <div class="timeline-logo">
          <img src="{% static 'img/Logo-goldenmeat.png' %}" alt="Logo">
        </div>
        <div class="timeline-content">
          <h3>Market Leader in Saudi Arabia</h3>
          <p>We have become one of the leading companies in the Kingdom’s meat sector in recent years.</p>
        </div>
      </div>
  
      <!-- Timeline Item 5 -->
      <div class="timeline-item">
        <div class="timeline-logo">
          <img src="{% static 'img/Logo-goldenmeat.png' %}" alt="Logo">
        </div>
        <div class="timeline-content">
          <h3>Future Expansion Plans</h3>
          <p>Expanding product lines and global supplier collaborations.</p>
        </div>
      </div>
    </div>
  </section>
  
</div>
